<form novalidate autocomplete="off" [formGroup]="userDetailsForm">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Email" required [(ngModel)]="login.email" formControlName="email">
  </mat-form-field>
  <mat-error class="error" *ngIf="userDetailsForm.get('email').touched && userDetailsForm.get('email').hasError('required')">
    Email required
  </mat-error>
  <mat-error class="error" *ngIf="userDetailsForm.get('email').touched && userDetailsForm.get('email').hasError('pattern')">
    Enter valid Email
  </mat-error>
  <mat-form-field>
    <input matInput required name="password" placeholder="Enter your password" type="password" [(ngModel)]="login.password" formControlName="password">
  </mat-form-field>
  <mat-error class="error" *ngIf="userDetailsForm.get('password').touched && userDetailsForm.get('password').hasError('required')">
    Password required
  </mat-error>
  <mat-error class="error" *ngIf="userDetailsForm.get('password').touched && userDetailsForm.get('password').hasError('minlength')">
    Minimum 5 Characters
  </mat-error>
  <button [disabled]="!userDetailsForm.valid" mat-button [ngClass]="{disabled : !userDetailsForm.valid}" class="link" (click)="saveEntity()">
     save
  </button>
</form>
